<phpunit
	bootstrap="vendor/autoload.php"
	cacheResult="true"
	cacheResultFile="var/tmp/.phpunit.result.cache"
	colors="true"
	verbose="true"
>
	<testsuite name="all">
		<directory>tests</directory>
	</testsuite>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
